html {
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.desktop-video--left,
.desktop-video--right,
.tablet-video--top,
.tablet-video--bottom,
.mobile-video--top,
.mobile-video--bottom {
    display: none;
}

.desktop-video--left {
    width: 50%; 
    height: 100%; 
    object-fit: cover;
}

.desktop-video--right {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.tablet-video--top {
    width: 100%; 
    height: 33.33%;
    object-fit: cover; 
}

.tablet-video--bottom {
    width: 100%;
    height: 33.33%;
    object-fit: cover;
}

.mobile-video--top {
    width: 100%; 
    height: 50%;
    object-fit: cover; 
}

.mobile-video--bottom {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

@media screen and (max-width: 499px) {
    .mobile-video--top,
    .mobile-video--bottom {
        display: block;
    }
    .flex-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) and (max-width: 949px) {
    .tablet-video--top,
    .tablet-video--bottom {
        display: block;
    }
    .flex-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 950px) {
    .desktop-video--left,
    .desktop-video--right {
        display: block;
    }
}